[submodule "wp-content/plugins/wpchaosclient/lib/chaos-client"]
	path = wp-content/plugins/wpchaosclient/lib/chaos-client
	url = git@github.com:CHAOS-Community/CHAOS.Portal.Client-PHP.git
[submodule "wp-content/plugins/wp-git-version-display"]
	path = wp-content/plugins/wp-git-version-display
	url = git@github.com:kraenhansen/wp-git-version-display.git
[submodule "wp-content/plugins/git-revision-widget"]
	path = wp-content/plugins/git-revision-widget
	url = git@github.com:kraenhansen/git-revision-widget.git
