# BEGIN Legacy rewrites
<IfModule mod_rewrite.c>
RewriteEngine On
RewriteBase /
RewriteRule ^chaos_post/([0-9a-f]{8}-[0-9a-f]{4}-[0-9a-f]{4}-[0-9a-f]{4}-[0-9a-f]{12})/?$ /index.php?guid=$1 [R=301,NC]
RewriteCond %{QUERY_STRING} ^s=([^&]*)$
RewriteRule .* /find/%1/? [L,R=301]
RewriteRule ^collection/([0-9a-f]{8}-[0-9a-f]{4}-[0-9a-f]{4}-[0-9a-f]{4}-[0-9a-f]{12})/?$	http://social.danskkulturarv.dk/collection/$1 [L,R=301]
RewriteRule ^members.*$		/relaunch/ [L,R=301]
RewriteRule ^inspiration/?$	/relaunch/ [L,R=301]
RewriteRule ^english/?$		/relaunch/ [L,R=301]
</IfModule>
# END Legacy rewrites

# Block access to "hidden" directories whose names begin with a period
<IfModule mod_rewrite.c>
   RewriteCond %{SCRIPT_FILENAME} -d
   RewriteCond %{SCRIPT_FILENAME} -f
   RewriteRule "(^|/)\." - [F]
</IfModule>

# BEGIN WordPress
<IfModule mod_rewrite.c>
RewriteEngine On
RewriteBase /
RewriteRule ^index\.php$ - [L]
RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d
RewriteRule . /index.php [L]
</IfModule>

# END WordPress
