/*
Custom styles for medium screen / desktop (992 and up)

This is the desktop size. It's larger than an iPad so it will only
be seen on the Desktop. 

-------------------------------------------------- */

#advanced-search-container {

  .filter-organizations {
    .btn.filter-btn-single {
      width: 48%;
      float: left;
      &:nth-child(odd) {
        margin-right: 4%;
      }
    }
  }
  
}