// danskkulturarv.dk custom styles

// --------------------------------------------------
// VARIABLES
// --------------------------------------------------

// grays

@black:                 #000;
@grayDarker:            #222;
@grayDark:              #333;
@gray:                  #555;
//@grayLight:             #777;
@grayLight:             #646464;
//@grayLighter:           #eee;
@grayLighter:           #888888;
@grayLightest:          #aaaaaa;
@grayBorder:            #eeeded;
@white:                 #fff;

// accent colors

@blue:                  #2f94fd;
@orange:                #ff7e21;

// other

@baseBorderRadius:      3px;

//fonts

@baseFontFamily:         Helvetica, Arial, sans-serif;
@font-size-base:         13px;



// --------------------------------------------------
// GENERAL
// --------------------------------------------------

// Font Awsome icons
[class^="icon-"], [class*=" icon-"] {
  display: inline-block;
  width: auto;
  height: auto;
  line-height: inherit;
  vertical-align: baseline;
  background-image: none;
  background-position: 0% 0%;
  background-repeat: repeat;
}

html, body { 
  height: 100%;
}

h1 {
  font-size: 1.6em;
}

h2 {
  font-size: 1.2em;
  line-height: 1.4em;
  color: @gray;
}

hr {
  border-top-color: @grayBorder;
}

// --------------------------------------------------
// Sprites
// --------------------------------------------------
/*
@spriteGrid: 26px; // 16ps sprite + 10px padding on the spritesheet
.sprite(@x, @y) {
   background-image: url(../img/sprite-100.png);
   background-repeat: no-repeat;
   background-position: -(@x*@spriteGrid) -(@y*@spriteGrid);
}
*/

@spriteGrid16: 19px;
.sprite(@x, @y) {
   background: url(../img/sprite-100.png) no-repeat;
   background-position: -(@x*@spriteGrid16) -(@y*@spriteGrid16+33);
   display: inline-block;
   content: "";
   margin-right: 5px;
   vertical-align:text-top
}

// --------------------------------------------------
// HEADER
// --------------------------------------------------
//@navbarCollapseWidth: 768px;

.navbar {

  padding: 0 20px;

  .navbar-toggle {
    background-color: @grayLight;
    margin-right: 10px;
    border: none;
  }

  // Top logo
  .navbar-brand {
    text-align: left;
    padding-left: 0;
    margin-left: 0;
  }

  .navbar-brand img {
    height: 18px;
  }

}

.dropdown-header {
  color: @grayLightest;
  padding: 10px 0 4px 4px;
}

a.dropdown-toggle {
  color: @white !important;
  padding: 6px !important;
}

a.dropdown-toggle:hover {
  background-color: @blue!important;
}

a.dropdown-toggle:active {
  background-color: none!important;
}

.navbar-inverse {
  background-color: @gray;
}

.navbar-responsive-collapse {

    ul.dropdown-menu {
      position: static;
      padding: 0;
      background-color: @gray;
      -moz-box-shadow: none;
      -webkit-box-shadow: none;
      box-shadow: none;
      border: none;
      margin-left: 20px;
      width: 100%;
    }

    li a {
      float: left;
      width: 100%;
      color: @white;
      -webkit-transition-delay: 0s;
      -webkit-transition-duration: 0.25s;
      -webkit-transition-property: all;
      -webkit-transition-timing-function: cubic-bezier(0.25, 0.1, 0.25, 1);
    }

    .dropdown-menu-item {
      padding: 0 0 6px 0;
    }

    a.dropdown-menu-item  {
      padding: 4px !important;
      border-radius: @border-radius-small;
      -webkit-border-radius: @border-radius-small; 
      -moz-border-radius: @border-radius-small; 
      color: @white !important;
    }

    a.dropdown-menu-item:hover {
      background-color: @blue !important;
    }
}

// --------------------------------------------------
// SEARCH
// --------------------------------------------------

.container.search {
  padding: 70px 20px 20px 0;
  border: 1px solid @grayBorder;

  form {
    display: inline-block;
    margin-bottom: 0;
    padding: 0;

    .input-group {
      margin-bottom: 0;
      margin-left: 0;
    }
  }

  input {
    height: 44px;
    padding-left: 10px;
  }

  .btn-search {
    color: @white;
    border: none;
    background: @blue;
    line-height: 22px;
    height: 44px;
    text-decoration: none;
    text-shadow: none;
    padding: 0 18px;
    font-weight: 400;
    font-size: 14px;
    -webkit-transition-delay: 0s;
    -webkit-transition-duration: 0.25s;
    -webkit-transition-property: all;
    -webkit-transition-timing-function: cubic-bezier(0.25, 0.1, 0.25, 1);
  }

  .btn-search:hover {
    color: @white;
    background: @gray;
  }

  .btn-advanced-search {
    background: none;
    color: @white;
    background-color: @blue;
    height: 44px;
    padding: 0 8px;
    border: 1px solid @grayBorder;
    font-weight: 400;
    font-size: 14px;
    vertical-align: top;
    margin-top: 0;
    width: 100%;
    border-radius: @border-radius-small*2;
    -webkit-border-radius: @border-radius-small*2; 
    -moz-border-radius: @border-radius-small*2; 
    -webkit-transition-delay: 0s;
    -webkit-transition-duration: 0.25s;
    -webkit-transition-property: all;
    -webkit-transition-timing-function: cubic-bezier(0.25, 0.1, 0.25, 1);
  }

  .btn-advanced-search.collapsed {
    background-color: @white;
    color: @blue;
  }

  .btn-advanced-search i {
    margin: 0 2px;
  }

  .btn-advanced-search i.icon-caret-down {
    color: @grayLightest;
  }

  .btn-advanced-search:hover {
    color: @white;
    background-color: @blue;
  }

  .btn-advanced-search-container {
    margin-top: 0;
    padding: 0;
  }

}

#advanced-search-container {
  padding: 0 20px;

  .filter-container {
    padding: 10px 0 0 10px;
  }

  .btn.filter-btn {
    height: 20px;
    margin: 5px 0;
    text-align: left;
    background-image:none;
    width: 100%;
    color: @black;
    border: none;
    padding: 0 8px;
    font-size: 12px;
    border-radius: 10px;
    -webkit-border-radius: 10px; 
    -moz-border-radius: 10px; 
    font-weight: 400;
    line-height: 20px;
    background-color: @grayBorder;
    //.border-radius(26px);

    i {
      width: 16px;
      font-size: 14px;
      text-align: center;
      margin-right: 5px;
      text-shadow:none;
      &.icon-remove-sign {
        visibility: hidden;
        margin-right: -4px;
        float: right;
      }
    }

    &.active {
      color: @white;
      background-color: @blue;
      text-shadow:none;
      i {
        &.icon-remove-sign {
          visibility: visible;
        }
      }  
    }

    &.filter-btn-all {
      i.icon-ok {
        visibility: hidden;
        margin-right: -4px;
        float: right;
      }
      &.active i.icon-ok {
        visibility: visible;
      }
    }
  }


}

// Search results

.listview .search-object {

  height: auto;

    a.thumbnail {
      height: auto;
    }
}


.search-object {

  height: 255px;

    a.thumbnail {
      height: 255px;
    }

  .thumb {
    width: 100%;
    height: 145px;
    background-position: center;
    background-size: cover;
    position: relative;
    margin-bottom: 0;

    .caption {
      color: @white;
      background-color: @black;
      position: absolute;
      bottom: 3px;
      right: 3px;
      padding: 0 3px;
    }
  }

    .thumb.format-lyd {
        background: @grayBorder url('../img/format-lyd.png') no-repeat center center;
        background-size: cover;
      }

    .thumb.format-billede {
        background: @grayBorder url('../img/format-billede.png') no-repeat center center;
        background-size: cover;
      }

   .thumb.format-video {
        background: @grayBorder url('../img/format-video.png') no-repeat center center;
        background-size: cover;
      }

    .thumb.format-billede-lyd {
        background: @grayBorder url('../img/format-billede-lyd.png') no-repeat center center;
        background-size: cover;
      }

  a:hover {
    text-decoration: none;
  }

  .date {
    color: @gray;
  }

  hr {
    margin: 6px 0;
  }

  h5.strong.orange.organization {
    margin: 3px 0;
  }

  .title, .organization {
    width: auto;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    margin-bottom: 0;
    margin-top: 0;
  }

  h5.strong.orange.organization:after {
    content: "\0000a0";
  }

  p.date:after {
    content: "\0000a0";
  }

  .media-type-container {
    height: 20px;
    color: @gray;
    margin: 0;

    .icon-eye-open {
      margin-left: 8px;
      float: right;
    }

  }
}

// List view

ul.row.listview {
  margin: 0;
  padding: 0;
  width: 100%;

    li.search-object {
      border-bottom: @grayBorder;
    }

    li.search-object:hover {
      background-color: @grayBorder;
    }

  li {
    width: 100%;
    clear: left;
    padding-top: 5px;
    padding-bottom: 5px;
    list-style-type: none;

    hr {
      display: none;
    }

    .thumbnail {
      border: none;
      background-color: rgba(0,0,0,0) !important;
    }

    h2.title {
      background-color: none !important;
    }

    .organization {
      float: left;
      margin-right: 6px;
      position: relative;
      width: 100%;
      white-space:nowrap;

      strong {
        overflow-x: visible;
overflow-y: visible;
padding-bottom: 0px;
padding-left: 0px;
padding-right: 0px;
padding-top: 0px;
text-align: -webkit-auto;
text-decoration: none;
text-overflow: clip;
white-space: nowrap;
width: auto;
      }

    }

    .date {
      float: left;
      margin-right: 10px;
      position: relative;
    }

    .media-type-container {
      float: left;
    }

  }

  .thumb {
    display: none;
  }

}

//gray border
.search-results {
  border-left: 1px solid @grayBorder;
  border-right: 1px solid @grayBorder;
}

.search-results span {
  display: block;
  float: left;
}

.search-results-top {
  border-bottom: 1px solid @grayBorder;
  margin-bottom: 20px;
  margin-left: 0;
  margin-right: 0;
}

.search-results-top, .search-results-top span{
  line-height: 15px;
}

//top border for bottom pagination
.search-results-top:nth-child(3) {
  border-top: 1px solid @grayBorder;
}

//bottom pagination
.search-results-bottom {
  border-top: 1px solid @grayBorder;
  margin-left: -20px;
  margin-right: -20px;
  padding-left: 20px;
  padding-right: 20px;
}

.thumbnails {
  margin: 0;
  padding: 0;

  li {
    margin-bottom: 20px;
    list-style-type: none;
  }

}

.thumbnails div {
  margin-bottom: 20px;
}

.pagination {
  margin: 0;
}

.search-results-top p {
  margin-top: 14px;
  line-height: 20px;
}

.search-result-listing a {
  background-color: @white;
  border: 1px solid @grayBorder;
  font-size: 13px;
  padding: 4px 8px;
  color: @blue;
  margin-top: 7px;
}

.search-result-listing a.active {
  background-color: @grayBorder;
  color: @grayLightest;
  border-color: @grayBorder;
}

.search-result-listing a:hover {
  background-color: @blue;
  color: @white;
  border-color: @grayBorder;
}

.sortby-dropdown {
  padding-top: 14px;
  float: left;
}

a.sortby-link:hover {
  text-decoration: none;
}

.pagination {
  -webkit-border-radius: 0;
  -moz-border-radius: 0;
  border-radius: 0;
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  box-shadow: none;
  height: 100%;
}

.pagination-div {
  border-top: 1px solid @grayBorder;
  margin-top: 10px;
}

.search-results-top .pagination a {
  border: none;
  border-left: 1px dotted @grayBorder;
  font-size: 1em;
}

.search-results-top .pagination li.active span, .search-results-top .pagination li.disabled span  {
  border: none;
  background-color: none;
  font-size: 1em;
}

.search-results-top .pagination li.disabled span  {
  border-left: 1px dotted @grayBorder;
}

// --------------------------------------------------
// CONTENT
// --------------------------------------------------

.video-js { width: 100%!important; }

.icon-picture-sound:after {
  content: "\F03E\0000a0\0000a0\F028";
  font-family: FontAwesome;
}

// results

.blue {
  color: @blue;
}

// thumbs

.thumbnails img {
  width: 100%;
}

.orange {
  color: @orange;
}

// Display Material

article.container .single-material {
  border-left: 1px solid @grayBorder;
  border-right: 1px solid @grayBorder;
}

.single-material {
  padding: 20px 0 0 0 ;
  border-left: 1px solid @grayBorder;
  border-right: 1px solid @grayBorder;
  .info {
    border: 1px solid @grayBorder;
    padding: 10px;
    margin-bottom: 20px;
  }
}

.nav.info a {
  display: inline-block;
  padding: 0;
  color: @blue;
}

.nav.info a:hover {
  background: none;
  color: @gray;
}

.nav.info hr {
  margin: 8px 0;
}

.nav.info .social {
  height: 20px;
  a {
    margin-right: 8px;
    font-size: 15px;
    border: none;
    padding: 0;
  }
  a:hover {
    background: none;
    text-decoration: none;
  }
}

.nav.info .rights-container a {
  display: inline;
  text-wrap: unrestricted;
}

.nav.info .external-link-container a {
  display: inline;
  text-wrap: unrestricted;
}

.nav.info .external-link-container a:hover {
  text-decoration: none;
}

.nav.info {
  a.tag  {
    margin-right: 3px;
    padding: 4px 10px;
    background: @grayBorder;
    border-radius: @border-radius-small;
    -webkit-border-radius: @border-radius-small; 
    -moz-border-radius: @border-radius-small; 
    word-wrap: break-word;
    color: @grayDarker;
    margin-bottom: 6px;
  }
  a.tag:hover {
    background: @blue;
    color: @white;
    cursor: pointer;
  }
  a.no-tag {
    padding: 0;
    background: none;
    color: @grayLight;
  }
}

.type-page {
  padding: 20px 20px 20px 20px;
  border-left: 1px solid @grayBorder;
  border-right: 1px solid @grayBorder;
  height: 100%;
  margin-top: -20px;
}

.description {
  margin-bottom: 20px;
}

div.colofon {
    width: 100%;
    margin-bottom: 20px;
    display: inline-block;

  dt {
    margin-left: 0;
    clear: left;
    width: 40%;
  }

  dt, dd {
    float:left;
  }
}

div.contributors {
    width: 100%;
    margin-bottom: 20px;
    display: inline-block;

  dt {
    margin-left: 0;
    clear: left;
    width: 40%;
  }

  dt, dd {
    float:left;
  }
}

//front page

.front-page-content {
  font-size: 14px;
  font-weight: 700;
  line-height: 20px;

  strong {
    font-size: 22px;
    font-weight: 700;
    line-height: 22px;
  }

  a {
    color: @blue;
    text-decoration: none;
  }

  a:hover {
    color: @gray;
    text-decoration: none;
  }

}

.entry-content {
  margin-top: 20px;
}

// --------------------------------------------------
// FOOTER
// --------------------------------------------------
// sticky footer

/* Wrapper for page content to push down footer */
#wrap {
  min-height: 100%;
  height: auto !important;
  height: 100%;
  /* Negative indent footer by it's height */
  margin: 0 auto -136px;
}

/* Set the fixed height of the footer here */
#push,
footer {
  height: 136px;
}

footer {
  background-color: #f6f6f6;
  border-top: 1px solid @grayLightest;
  //padding-top: 15px;

  .bloginfo-footer {
    font-size: 14px;
    text-transform: uppercase;
    font-weight: 700;
    color: @grayLight;
    margin: 12px 0;
    span {
      color: @orange;
      text-transform: lowercase;
      font-style: italic;
      font-weight: 400;
    }
  }

 ul#menu-footer.nav-footer {
    margin-left: 0;
    padding-left: 0;
    display: inline-block;
    font-weight: 700;
    margin-bottom: 2px;
    line-height: 20px;
      a {
        color: @grayDark !important;
      }
      a:hover {
        background: none!important;
        color: @grayLight!important;
        text-decoration: none;
      }
    > li+li {
      border-left: 1px solid @grayLightest;
      margin-left: 10px;
      padding-left: 10px;
    }
    > li+li:last-child {
      border-left: none;
      margin-left: -6px;
    }
    > li {
      display: inline-block;
      list-style: none;
      line-height: 16px;
    }
  }

  .social {
    font-size: 16px;
    line-height: 12px;
    margin-right: 6px;
  }

  .copyright, .copyright a {
    margin-top: 6px;
    color: @grayLightest;
  }
}

#wrap article.container {
  //padding-top: 160px;
}