// danskkulturarv.dk custom styles

// --------------------------------------------------
// VARIABLES
// --------------------------------------------------

// grays

@black:                 #000;
@grayDarker:            #222;
@grayDark:              #333;
@gray:                  #555;
//@grayLight:             #777;
@grayLight:             #646464;
//@grayLighter:           #eee;
@grayLighter:           #888888;
@grayBorder:            #eeeded;
@white:                 #fff;

// accent colors

@blue:                  #2f94fd;
@orange:                #ff7e21;

// other

@baseBorderRadius:      3px;


// --------------------------------------------------
// GENERAL
// --------------------------------------------------
#wpadminbar {
  display: none;
}
html, body { 
  height: 100%;
  //margin-bottom: 0;
  //padding: 0;
  //padding-top: 71px;
}

body {
  //padding-top: 71px;
}

h1 {
  font-size: 1.6em;
}

h2 {
  font-size: 1.2em;
  line-height: 1.4em;
}

// --------------------------------------------------
// Sprites
// --------------------------------------------------
/*
@spriteGrid: 26px; // 16ps sprite + 10px padding on the spritesheet
.sprite(@x, @y) {
   background-image: url(../img/sprite-100.png);
   background-repeat: no-repeat;
   background-position: -(@x*@spriteGrid) -(@y*@spriteGrid);
}
*/

@spriteGrid16: 19px;
.sprite(@x, @y) {
   background: url(../img/sprite-100.png) no-repeat;
   background-position: -(@x*@spriteGrid16) -(@y*@spriteGrid16+33);
   display: inline-block;
   content: "";
   margin-right: 5px;
   vertical-align:text-top
}

// --------------------------------------------------
// HEADER
// --------------------------------------------------
@navbarCollapseWidth: 768px;

.navbar {
  
  .brand {
    padding: 25px 20px 0 20px;
  }

  .nav {

    padding: 20px 0;

    > li + li {
      margin-left: 15px;
    }

    > li > a {
      padding: 5px 10px;
      color: #fff;
      background-color: @grayLight;
      .border-radius(6px);
      .box-shadow(none);
      .transition(0.25s);

      &:hover {
        background-color: @gray;
      }

      .caret {
        border-top-color: @white;
        border-bottom-color: @white;
      }
    }

    > li.current-menu-item > a {
      background-color: @gray;
    }
  }
}

// --------------------------------------------------
// SEARCH
// --------------------------------------------------
.container.search {
  padding: 80px 20px 20px 20px;
  border: 1px solid @grayBorder;

  form {
    display: inline-block;
    margin-bottom: 0;

    .input-append {
      margin-bottom: 0;
    }
  }

  input {
    height: 34px;
    padding-left: 10px;
  }

  .btn-search {
    color: @white;
    border: none;
    background: @blue;
    line-height: 22px;
    text-decoration: none;
    text-shadow: none;
  }

  .btn-advanced-search {
    background: none;
    background-color: @white;
  }
  
}

#advanced-search-container {
  .btn.filter-btn {
    margin: 5px 0;
    text-align: left;
    background-image:none;
    width: 100%;
    color: @black;
    border: none;
    height: 26px;
    padding: 0 8px;
    //background: none;
    .border-radius(26px);

    i {
      height: 16px;
      width: 16px;
      &.audio {
        .sprite(1,14);
      }
      &.video {
        .sprite(1,15);
      }
      &.images {
        .sprite(1,16);
      }
      &.documents {
        .sprite(1,18);
      }
    }

    &.active {
      color: @white;
      background-color: @blue;
      i {
        height: 16px;
        width: 16px;
        &.enabled {
          .sprite(3,26);
          margin: 2px 0 0 0;
          float: right;
        }
        &.audio {
          .sprite(3,14);
        }
        &.video {
          .sprite(3,15);
        }
        &.images {
          .sprite(3,16);
        }
        &.documents {
          .sprite(3,18);
        }
      }  
    }

    &.filter-all {
      &.active i.enabled {
        .sprite(3,12);
      }
    }
  }
}

// Search results
.search-object {
  .thumb {
    width: 100%;
    height: 145px;
    background-position: center;
    background-size: cover;
    position: relative;

    .duration {
      color: @white;
      background-color: @black;
      position: absolute;
      bottom: 3px;
      right: 3px;
      padding: 0 3px;
    }
  }

  .title, .organization {
    width: auto;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
  }

  .media-type-container {
    height: 20px;
  }
}


// --------------------------------------------------
// CONTENT
// --------------------------------------------------

// results

.blue {
  color: @blue;
}

// thumbs

.thumbnails img {
  width: 100%;
}

.orange {
  color: @orange;
}

.thumbnails p.date:before {
  width: 16px;
  height: 16px;
  .sprite(0,11);
}

.thumbnails span.series:before {
  width: 16px;
  height: 16px;
  .sprite(2,15);
}

.thumbnails span.views:before {
  width: 16px;
  height: 16px;
  .sprite(1,4);
}

.thumbnails span.likes:before {
  width: 16px;
  height: 16px;
  .sprite(0,9);
}

// Display Material
.single-material {
  .info {

    border: 1px solid @grayBorder;
    padding: 10px;

    .views {

      &:before {
        width: 16px;
        height: 16px;
        .sprite(1,4);
      }
    }

    .share {
      &:before {
        width: 16px;
        height: 16px;
        .sprite(1,3);
      }
    }

    .short-url:before {
      width: 16px;
      height: 16px;
      .sprite(1,5);
    }
  }
}

// --------------------------------------------------
// FOOTER
// --------------------------------------------------
// sticky footer

/* Wrapper for page content to push down footer */
#wrap {
  min-height: 100%;
  height: auto !important;
  height: 100%;
  /* Negative indent footer by it's height */
  margin: 0 auto -136px;
}

/* Set the fixed height of the footer here */
#push,
footer {
  height: 136px;
}

footer {
  background-color: #f6f6f6;
  border-top: 1px solid #cecece;
  //padding-top: 15px;

  .bloginfo-footer {
    font-size: 16px;
    text-transform: uppercase;
    font-weight: bold;
    color: @grayLight;
    margin:15px 0 20px 0;
    span {
      color: @orange;
      text-transform: lowercase;
      font-style: italic;
      font-weight: normal;
    }
  }

  .nav-footer {
    margin-left: 0;
    padding-left: 0;
    display: inline;
    font-weight: bold;
    > li+li {
      border-left: 1px solid @grayLight;
      margin-left: 10px;
      padding-left: 10px;
    }
    > li {
      display: inline-block;
      list-style: none;
      line-height: 16px;
      a {
        color: @grayLight;
      }
    }
  }

  .copyright, .copyright a {
    margin-top: 20px;
    color: @grayLighter;
  }
}

#wrap article.container {
  //padding-top: 160px;
}